// FONT

$text-font: 'Barlow', sans-serif;
$heading-font: 'Fraunces', serif;

// PRIMARY

$softred: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkblue: hsl(198, 62%, 26%);
$cyan1: hsl(167, 40%, 24%);
$cyan2: hsl(168, 34%, 41%);

// NEUTRAL

$blue1: hsl(212, 27%, 19%);
$blue2: hsl(213, 9%, 39%);
$blue3: hsl(232, 10%, 55%);
$grayishblue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);